<div class="panel">
  <div class="row">
    <div class="large-12 column">
      {{input type="text" valueBinding="model.title"}}
    </div>
  </div>
  <div class="row">
    <div class="large-12 column">
      {{textarea valueBinding="model.content"}}
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <a href="#" {{action "cancel"}} class="button small secondary left">Cancel</a>
    <button class="btn small left" {{action "destroy"}}>Delete</button>
    <button class="btn small right" {{action "save"}}>Save</button>
  </div>
</div>
