<div class='large-24 columns lil-widget'>
  {{#if editMode}}
    <form {{action "update"}}>
      {{input value=part.title}}
    </form>
  {{else}}
    {{#linkTo "part" part class="stacked"}} {{part.title}} {{/linkTo}}
    <button {{action "delete" part}} class="small">Delete</button>
    <button {{action "toggleEditMode" part}} class="small">Edit</button>
  {{/if}}
</div>
