<div class="row">
    <div class="large-8 columns">
      <h3>{{model.title}}</h3>
    </div>
    {{#unless editing}}
      <div class="large-4 columns">
        {{#if model.comments.length}}
          <button {{action "resetTopic"}} class="button small right spacing-top">Reset Topic</button>
        {{/if}}
        {{#linkTo "part.edit" class="button small right spacing-top"}} Edit {{/linkTo}}
        {{#linkTo "part.suggestion" class="button small right spacing-top"}} Suggestion {{/linkTo}}
      </div>
    {{/unless}}
</div>

<div class="row">
  <div class="large-12 columns">
    {{outlet}}
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
        <h5>Suggestions</h5>
      </div>
    </div>

    {{render "suggestions" model.suggestions}}
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h5>Comments</h5>
  </div>
</div>
{{render "comments" model.comments}}
{{view "Labs.NewCommentView"}}
